# ==== PATHS ====
ref: "/data1/u0176926/Govers_lab/Ref_BY4741/BY4741.fasta"
#fastq_dir: "data/fastq"            # If you don't use samples.tsv
samples_tsv: "config/samples.tsv"
outdir: "/data1/u0176926/Govers_lab/results"

# Optional: known-sites VCFs for BQSR (not used below; add if you want BQSR)
known_sites: []

# ==== RESOURCES (tune for your cluster) ====
trimmomatic_threads: 8
bwa_threads: 12
markdup_threads: 8
hc_threads: 8

# ==== FASTP  ====
fastp_threads: 16
fastp_mem_mb: 4000
fastp_min_len: 36
fastp_cut_front: true
fastp_cut_tail: true
fastp_cut_mean_quality: 15

bwa_mem_mb: 12000
markdup_mem_mb: 16000
hc_mem_mb: 16000

# where to store joint outputs
joint:
  chunk_size: null     # e.g., 1000000 for 1 Mb chunks; null = per contig
  reader_threads: 4
  tmp_dir: /tmp

filters:
  snp: 'QD < 2.0 || FS > 60.0 || MQ < 40.00 || MQRankSum < -12.5 || ReadPosRankSum < -8.0 || SOR > 3.0'
  indel: 'QD < 2.0 || FS > 200.0 || ReadPosRankSum < -20.0 || SOR > 10.0'
